




.navigation {
    top: 100%;
    z-index: 20;
  }

  header {
    background:#030021;
    font-family: futura-pt-bold,sans-serif;
    font-weight: 700;
    font-style: normal;
  }
  
  header ::after {
    content:'';
    display: table;
    clear: both;
  }
  
  nav {
    float: right;
  }
  
  nav ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-right: 10px;
  }
  
  nav li {
    display: inline-block;
    margin-left: 20px;
    padding-top: 8px;
  
  }
  
  nav ul > li > a {
  
    color: white;
    text-decoration: none;
    text-transform: uppercase;
  
  }
  
  nav :hover {
    color: #0d607e;
  }
  
  .name {
    color: white;
    float: left;
    padding: 8px 10px;
    text-transform: uppercase;
  }

  .backg{
    background: #030021;
    display: block;
    position: relative;
    width: 100%;
    top: 100%;
    left: 0;
    right: 0;
    height: 3000px;
    z-index: 0;
  }







* {

    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: futura-pt-bold,sans-serif;
}

.contact h2, .content p, .box p {

    color: white;
}

.contact {
    position: relative;
    min-height: 100vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.contact .content {
    max-width: 800px;
    text-align: center;

}

.contact.content h2 {
    font-size: 36px;
    font-weight: 500;
}

.contact.content p {
    font-weight: 300;
}

.container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container .contactInfo {

    width: 50%;
    display: flex;
    flex-direction: column;
}

.container .contactInfo .box {

    position: relative;
    padding: 20px 0;
    display: flex;
}

.container .contactInfo .box .icon {

    min-width: 60px;
    height: 60px;
    background:#2d2a4b;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;

}

.container .contactInfo .box .text {

    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color:#2d2a4b;
    flex-direction: column;
    font-weight: 300;
}

.container .contactInfo .box .text h3, input {

    font-weight: 500;
    color:#13a0bb;
}


 .contactForm {

    width: 40%;
    padding: 40px;
    background: #fff;
 }

 .contactForm h2 {
     font-size: 30px;
     color: #333;
     font-weight: 500;
 }

 .contactForm .inputBox {
     position: relative;
     width: 100%;
     margin-top: 10px;
 }

 .contactForm .inputBox input, 
 .contactForm .inputBox textarea {

    width: 100%;
    padding: 10px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 2px solid #333;
    outline: none;
    resize: none;
 }


 .contactForm .inputBox span{

    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666
 }

input {
    color: #333;
}

 .contactForm .inputBox input:focus ~ span,
 .contactForm .inputBox input:valid ~ span, 
 .contactForm .inputBox textarea:focus ~ span,
 .contactForm .inputBox textarea:valid ~ span {
    color:#13a0bb;
    font-size: 12px;
    transform: translateY(-20px);
 }

 .contactForm .inputBox input[type="submit"] {

 width: 100px;
 background: #13a0bb;
 color: #fff;
 border: none;
 cursor: pointer;
 padding: 10px;
 font-size: 18px;
 }

 @media (max-width: 991px) {
     .contact {
         padding: 50px;
     }
     .container {
         flex-direction: column;
     }
     .container .contactInfo {
         margin-bottom: 40px;
     }
     .container .contactInfo {
         width: 100%;
     }
 }